@tailwind base;
@tailwind components;
@tailwind utilities;


/*******************************/
/*****
/*****    VARIABLES 
/*****
/*******************************/

:root {
    --w-green: #6AAA64;
    --w-yellow: #C9B458;
    --w-gray: #787C7E;
    --red-600: #dc2626;
    --green-600: #16a34a;
    --green-900: #14532d;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-800: #1f2937;
    --slate-800: #1e293b;
    --white: #ffffff;
}


/*******************************/
/*****
/*****    GENERAL STYLES 
/*****
/*******************************/

html {
    font-family: 'Merriweather', serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: var(--gray-200);
    color: black
}

body {
    background: var(--gray-200);
}

.main-content {
    background: var(--white);
}

@media (min-width: 768px) {
    nav {
        background-color: rgba(3, 7, 18, .5);
    }
}

h2 {
    /* mx-auto */
    margin-left: auto;
    margin-right: auto;

    /* mt-12 */
    margin-top: 3rem;

    /* mb-6 */
    margin-bottom: 1.5rem;

    /* pb-1 */
    padding-bottom: 0.25rem;

    /* px-4 */
    padding-left: 1rem;
    padding-right: 1rem;

    /* w-full */
    width: fit-content;

    /* font-semibold */
    font-weight: 600;

    /* text-center */
    text-align: center;

    /* underline */
    text-decoration-line: underline;

    /* decoration-yellow-500 */
    text-decoration-color: var(--w-green);
}

/* screen width < md */
@media (max-width: 768px) {
    h1 {
        /* text-4xl */
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    h2 {
        /* text-2xl */
        font-size: 1.5rem;
        line-height: 2rem;

        /* underline-offset-4 */
        text-underline-offset: 4px;

        /* decoration-4 */
        text-decoration-thickness: 4px;
    }
}

/* screen width > md */
@media (min-width: 768px) {
    h1 {
        /* text between 4xl - 5xl */
        font-size: 2.625rem;
        line-height: 2.625rem;
    }

    h2 {
        /* text-3xl */
        font-size: 1.875rem;
        line-height: 2.25rem;

        /* underline-offset-4 */
        text-underline-offset: 4px;

        /* decoration-[6px] */
        text-decoration-thickness: 5px;
    }
}


/*******************************/
/*****
/*****    UTILITIES 
/*****
/*******************************/

.grecaptcha-badge {
    visibility: hidden;
}

div[data-lastpass-icon-root] {
    display: none
}

/* screen width < md */
@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }
}

/* screen width > md */
@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}


/*******************************/
/*****
/*****    SITEWIDE STYLES 
/*****
/*******************************/

.logo-full {
    padding: 4px;
}

.mobile-menu li {
    padding: 0;
    list-style-type: none;
}

.footer-textarea {
    resize: none;
    overflow: hidden;
}

.footer-contact-form input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 28px var(--slate-800) inset !important;
    -webkit-text-fill-color: white;
}

.footer-contact-form input:-webkit-autofill:disabled {
    -webkit-box-shadow: 0 0 0 28px var(--gray-800) inset !important;
}

.footer-contact-form .button {
    text-transform: none;
    font-weight: 400;
    width: 106px;
}

.footer-contact-form .button:disabled {
    background-color: var(--green-900);
}

.positive-response {
    color: var(--green-600);
}

.negative-response {
    color: var(--red-600);
}


/*******************************/
/*****
/*****    HOMEPAGE 
/*****
/*******************************/

.otp-container input {
    width: 4rem;
    min-width: 4rem;
}


/*******************************/
/*****
/*****    PRIVACY POLICY 
/*****
/*******************************/

.privacy-policy .privacy-policy-main a {
    text-decoration: underline;
}

.privacy-policy .privacy-policy-main a:hover {
    color: var(--green-600);
}